body {
  margin: 0px;
  background-image: url(/Bootcamp_sanbercode/day2/asset/pattern.jpg);
  backdrop-filter: 35px;
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

main {
  background-color: white;
  margin: 75px 150px 40px;
  padding: 10px;
}

h1 {
  text-align: center;
}

article {
  margin-top: 50px;
  border-bottom: 1px solid black;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
}
h5 {
  text-align: center;
}
